@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@600&display=swap');


:root{
   --verde-fraco: #2dc653;
   --verde: #6ede8a;
   --vermelho: #e71d36;
    --preto: #000000;
    --font-text:"Anta", sans-serif;
    --font-titulo: "Kode Mono", monospace;
}

body{
    background-color: var(--verde-fraco);
}