@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@600&display=swap');


:root{
   --verde-fraco: #2dc653;
   --verde: #6ede8a;
   --vermelho: #e71d36;
    --preto: #000000;
    --font-texto:"Anta", sans-serif;
    --font-titulo: "Kode Mono", monospace;
}

body{
    background-color: var(--verde-fraco);
    color: var(--preto);
    font-family: var(--font-texto);
}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}